@model List<Category>
@{
    ViewData["Title"] = "Category";
}

<div class="row">

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hoverable Table</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <div class="d-flex justify-content-end"> <a type="button" asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-outline-success btn-sm">Create</a></div>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>ImagePath</th>
                                <th>CRUD</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Category category in Model)
                            {
                                <tr>
                                    
                                    <td>@category.Id</td>
                                    <td>@category.Name</td>
                                    <td>@category.ImgPath</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-info btn-sm">Update</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>